:root {
  --ff-headings: "Fraunces", sans-serif;
  --ff-body: "Montserrat", sans-serif;

  --fw-normal: 500;
  --fw-bold: 700;

  --fs-100: 0.6875rem; /* 11px */
  --fs-300: 0.8125rem; /* 13px */
  --fs-400: 0.875rem; /* 14px */
  --fs-500: 1rem; /* 16px */
  --fs-800: 2rem; /* 32px */

  --clr-neutral-100: hsl(0, 0%, 100%); /* White */
  --clr-neutral-400: hsl(228, 12%, 48%); /* Dark grayish blue */
  --clr-neutral-700: hsl(212, 21%, 14%); /* Very dark blue */

  --clr-cream: hsl(30, 38%, 92%);
  --clr-dark-cyan: hsl(158, 36%, 37%);
  --clr-darker-cyan: hsl(158, 36%, 17%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* Attribution: 
HTML5 Boilerplate - https://github.com/h5bp/html5-boilerplate/blob/main/dist/css/style.css */

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

img {
  max-width: 100%;
  display: block;
}

html {
  background-color: var(--clr-cream);
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product {
  margin: 1rem;
  border-radius: 10px;
  overflow: hidden;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  color: var(--clr-neutral-400);
  background-color: var(--clr-neutral-100);
  font-family: var(--ff-body);
  font-weight: var(--fw-normal);
  font-size: var(--fs-400);
}

.product__text {
  order: 1;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
}

.product__category {
  order: -1;
  font-size: var(--fs-100);
  letter-spacing: 5.75px;
  text-transform: uppercase;
}

.product__title {
  color: var(--clr-neutral-700);
  font-family: var(--ff-headings);
  font-weight: var(--fw-bold);
  font-size: var(--fs-800);
  margin-block-start: 9px;
  line-height: 1.12;
}

.product__desc {
  margin-block-start: 12px;
  line-height: 1.65;
}

.product__price {
  display: flex;
  margin-block-start: 20px;
  align-items: center;
  gap: 18px;
}

.product__price-current {
  color: var(--clr-dark-cyan);
  font-family: var(--ff-headings);
  font-size: var(--fs-800);
  font-weight: var(--fw-bold);
  letter-spacing: 0.15px;
}

.product__price-original {
  text-decoration: line-through;
  font-size: var(--fs-300);
}

.product__cta {
  display: flex;
  justify-content: center;
  gap: 12px;
  width: 100%;
  margin-block-start: 15px;
  padding: 15px;
  border-radius: 6px;
  border: none;
  color: var(--clr-neutral-100);
  background-color: var(--clr-dark-cyan);
}

.product__cta:active,
.product__cta:hover,
.product__cta:focus {
  background-color: var(--clr-darker-cyan);
  cursor: pointer;
}

.product__cta-icon {
  display: inline-block;
}

.product__cta-text {
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
}

@media (min-width: 620px) {
  .product {
    flex-direction: row;
  }

  .product__img {
    flex: 0 0 300px;
  }

  .product__text {
    margin: 2rem;
  }

  .product__title {
    margin-block-start: 20px;
    line-height: 1;
  }

  .product__desc {
    margin-block-start: 24px;
    line-height: 1.65;
  }

  .product__price {
    margin-block-start: 25px;
  }

  .product__cta {
    margin-block-start: 26px;
  }
}
